langchain
langchain-core
langchain-google-genai
langchain-community
chromadb
unstructured[pdf]
pdfminer.six==20221105
pytesseract
pillow
python-dotenv

You may also need to install layoutparser and detectron2 for unstructured

pip install "layoutparser[layoutmodels,tesseract]"
pip install "detectron2@git+https://www.google.com/search?q=https://github.com/facebookresearch/detectron2.git%40v0.6%23egg%3Ddetectron2"
